@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 191 82% 6%;
    --foreground-pink: 223 51% 85%;
    /* --foreground-pink: 359 50% 60%; */
    --background-pink: 224 59% 16%;
    /* --background-pink: 5 92% 95%; */
    --green-ms-dos: 119 99% 33%;
    /* --green-ms-dos: 122 97% 26%; */
    --black: 0 0% 1%;
    --dark-blue: 224 59% 16%;
    --teal-300: 171 77% 64%;
    --slate-600: 215 19% 35%;
  }
}

@layer base {
  body {
    @apply bg-gray-950 text-foreground-pink;
  }
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}
