@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209.2 100% 7.6%;
    --oxford-blue: 209.2 100% 7.6%;
    --yale-blue: 208.8 100% 20%;
    --timberwolf: 45 15.4% 84.7%;
    --outer-space: 188 9.2% 32%;
    --background-secondary: 280 51% 8%;
    --background-light: 23 60% 76%;
    --background-light-hover: 23 60% 56%;
    --text-secondary: 188 86% 53%;
    --text-light-mode: 156 20% 5%;
    --line-light-mode: 350 80% 55%;
    --green-ms-dos: 119 99% 33%;
    /* --green-ms-dos: 122 97% 26%; */
    --dark-blue: 227.2 75.3% 15.9%;
    /* background hover and nav links */
    --teal-400: 172.5 66% 50.4%;
    /* text: ---------------------------*/
    /* links hover */
    --teal-300: 171 77% 64%;
    /* links */
    --slate-200: 215 19% 35%;
    /* title and subtitle */
    --blue-2: 210 90% 96.1%;
    --blue-3: 225 39.3% 76.1%;
    /* menu, about, card subtitle */
    --gray-2: 186 8.9% 43.9%;
    /* card content and date */
    --light-blue-2: 225 39.2% 60%;
    /* --slate-400: 186 8.9% 56.1%; */
  }
}

@layer base {
  body {
    @apply bg-background text-main-title;
  }
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

@layer components {
  .btn-primary {
    @apply inline-block text-center text-white bg-background hover:bg-background-secondary px-1 rounded text-xl sm:text-3xl py-1 cursor-pointer;
  }
}

@layer utilities {
  .bottom-right {
    bottom: 3rem;
    right: 2rem;
    position: fixed;
    transition: all 10s ease-in-out;
  }

  .top-left {
    top: 3rem;
    left: 10rem;
    position: fixed;
    transition: all 10s ease-in-out;
  }
}
